<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>SchemeUserState</key>
	<dict>
		<key>XLImageCropperViewController.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>0</integer>
		</dict>
	</dict>
	<key>SuppressBuildableAutocreation</key>
	<dict>
		<key>FDC3EC531C43A07A001E18D2</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>FDC3EC6C1C43A07A001E18D2</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>FDC3EC771C43A07A001E18D2</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
	</dict>
</dict>
</plist>
